:root {
	font-family: $main-font-family;
	font-size: 16px;
	background: #121212;
	color: white;
}

body {
	margin: 0;
	overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $head-font-family;
}

a {
	color: #FFEB3B;
}

.btn {
	display: inline-block;
	background: #313131;
	color: white;
	padding: 8px 12px;
	border: 2px solid white;
	border-radius: 8px;
	text-decoration: unset;

	&:hover, &:active {
		background: white;
		color: black;
	}
}

.wrapper {
	width: 80%;
	min-width: 300px;
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;

	@media screen and (min-width: $md-break) {
		width: 0.8 * $md-break;
	}

	@media screen and (min-width: $lg-break) {
		width: 720px;
	}
}

.site-header {
	position: relative;

	a {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		color: unset;
		text-decoration: unset;
		padding: 0 12px 0 10px;
		border-left: 2px solid transparent;
		height: 48px;

		&:hover {
			border-color: rgba(white, 0.4);
		}

		&:active, &.active {
			border-color: white;
		}
	}

	.site-title {
		font-family: $head-font-family;
		font-weight: bold;
		margin-left: -12px;
		vertical-align: middle;
	}

	> .background {
		display: block;
		position: relative;
		background-color: #421E1E;
		background-image: url("/assets/texture.jpg");
		background-size: cover;
		background-position: center;
		border-bottom: 1px solid rgba(white, 0.2);
		z-index: 101;
	}

	.wrapper {
		.dropdown {
			display: none;
			width: 100%;
		}

		input {
			display: none;
		}

		input:checked ~ .dropdown {
			display: block;
		}

		label {
			float: right;
			display: inline-flex;
			padding: 12px;
			vertical-align: middle;
			cursor: pointer;
			margin-right: -12px;
		}

		.dropdown {
			a {
				display: flex;
				margin-left: -12px;
				justify-content: flex-start;
			}
		}
	}

	@media screen and (min-width: $sm-break) {
		a {
			margin: unset;
			margin-bottom: -2px;
			border-left: unset;
			border-bottom: 2px solid transparent;

			&:hover {
				border-color: rgba(white, 0.4);
			}

			&:active, &.active {
				border-color: white;
			}
		}

		.wrapper {
			display: flex;
			justify-content: space-between;

			label {
				display: none;
			}

			.dropdown {
				display: flex;
				justify-content: flex-end;

				a {
					margin-left: 0;
				}
			}
		}
	}
}

.page-header {
	display: block;
	background: #421E1E;
	color: white;

	margin: 16px -24px;
	padding: 32px 24px;
	border-radius: 16px;

	text-shadow: 2px 2px 0 #421E1E;

	.btn {
		text-shadow: none;
	}
}

