@charset "utf-8";

$main-font-family: "Libre Franklin", sans-serif;
$head-font-family: "Gentium Book Basic", serif;

$sm-break: 480px;
$md-break: 640px;
$lg-break: 800px;

@import	
	"basson/base",
	"basson/footer",
	"basson/home",
	"basson/artist",
	"basson/events";